.login {
    height: 100vh;
}
.login-head {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #333333;
}
.label {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
}
.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 14px;
    gap: 14px;
    width: 100%;
    height: 40px;
    background: #f8f8f8;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #757575;
}
.login-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 14px;
    background: #048a8f;
    border: 1px solid #01babf;
    border-radius: 4px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    width: 100%;
}
.forgot-password {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.57px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #048a8f;
    cursor: pointer;
}
.text {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #333333;
}
.text-2 {
    color: #048a8f;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
}
.icon {
    margin-left: -30px;
}
.login-with {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    text-align: center;
    color: #000000;
}
.login-icons {
    width: 47.81px;
    height: 47.81px;
    background: #f2f2f2;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brdr{
    Border: none;


}


.regselectcss{
    border: 0.5px solid !important;
    width: 412px;
    height: 40px;
}



.inputtwo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 14px;
    gap: 14px;
    width: 100%;
    height: 40px;
    background: #f8f8f8;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #757575;
}



.login-btn2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 14px;
    background: #048a8f;
    border: 1px solid #01babf;
    border-radius: 4px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    width: 100%;
}