.upload-box1 {
    background:#fff;
    margin-left: 0px;
    margin-right: 0px;
}

.bgcss{
    background: #EFEFEF;
}

.alignselect {
    margin-bottom: 1.5rem!important;
    margin-left: 316px !important;
}
.dashboard-container {
    background-color: #efefef;
    height: 100vh;
}


.d-headingtop {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 800;
    font-size: 37px;
    line-height: 51px;
    color: #2e392f;
    margin-left: -8px;
}


.d-subtitle {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #525a53;
}



.selectone {
    width: 210px;
    height: 78px;
    left: 466px;
    top: 960px;
    background: #ffffff;
    border: 2px solid #bed7d2;
    border-radius: 15px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
}

.optioncss {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
}

.audiocss {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center !important;
    color: #7c7c7c;
}


.headingupload {
  

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    
    color: #000000;


}

.subheadingupload
{
    font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
text-align: center;

color: #928F98;
}


.drag-and-drop3 {
    height: 242px;
        border: 1px solid rgba(190, 215, 210, 0.5);
}

.headingmsg{
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #3a3545;

}


.text-white {
    background: white !important;
    border-radius: 12px;
    color: #000000 !important;
}